.form > form {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
  gap: 1rem;
}
#submitted > form {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  gap: 1rem;
}
.hidden * {
  display: none;
  visibility: hidden;
}
label {
  margin-bottom: -0.8rem;
}
h1 {
  margin: 0.2rem;
  font-size: 1.5rem;
}
